{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">
        ADD TO DO
    </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{%  endblock  %}