{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">
        TO DO LIST
    </h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ToDo</th>
            <th scope="col">Due Date</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        {% for todos in todo %}
        <tr>
            <th scope="row">{{ todos.id }}</th>
            <td>{{ todos.name }}</td>
            <td>{{ todos.dueDate }}</td>
            <td>
                <a href="#" class="btn btn-success">Detail</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{%  endblock  %}